---
layout: page
# All the Tags of posts.
---

{% assign all_posts = site.posts | concat: site.book-reviews %}
{% assign all_tags = '' | split: '' %}
{% for post in all_posts %}
  {% for tag in post.tags %}
    {% unless all_tags contains tag %}
      {% assign all_tags = all_tags | push: tag %}
    {% endunless %}
  {% endfor %}
{% endfor %}
{% assign sorted_tags = all_tags | sort_natural %}

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% for t in sorted_tags %}
    <div>
      <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t -}}
        <span class="text-muted">
          {%- assign tag_count = 0 -%}
          {%- for post in all_posts -%}
            {%- if post.tags contains t -%}
              {%- assign tag_count = tag_count | plus: 1 -%}
            {%- endif -%}
          {%- endfor -%}
          {{ tag_count }}
        </span>
      </a>
    </div>
  {% endfor %}
</div>
